{% extends 'base.html' %}

{% block content %}
<form>
        <label>Code Violation</label>
            <input type="text" name="code" id="code">
        </label>
        <label>Comment</label>
            <textarea name="comment" rows="2"></textarea>
        </label>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <button type="button" class="button" id="position-button"><i class="fa fa-map-marker"></i></button><span id="position-span"></span>
            <input type="hidden" name="position" id="position-input" value="">
            <div class="input-group" id="camera-input-group">
                <span class="input-group-label"><i class="fa fa-camera"></i></span>
                <input class="input-group-field" type="file" name="picture" id="picture-input" accept="image/*">
            </div>
        </div>
        <div class="medium-6 columns text-right">
            <button type="button" class="button expanded"><i class="fa fa-plus"></i> Add</button>
        </div>
</form>
{% endblock %}
